table {
    width: 100%;
}

table td {
    padding: 0 4px;
}

table td:nth-child(2) {
    text-align: center;
}

.form-check .form-check-input:checked~.form-check-sign .check {
    background: #fb9208;
}

.completed {
    text-decoration: line-through;
    color: #797979;
}

.novalue {
    color: #b7b7b7;
}